/* ---------- Header ---------- */

.main-header {
  top: 0;

  display: flex;
  flex-direction: column;

  padding: 4rem var(--space-md) 5rem var(--space-md);

  height: var(--header-height);
}

/* ---------- Header Top ---------- */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- App Title ---------- */

.main-header h1 {
  margin: 0;
  font-size: 2rem;
}

/* ---------- Menu Button ---------- */
.hamburger-line {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

/* ---------- Menu Button ---------- */

#mobile-drawer-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  width: 44px;
  height: 44px;

  padding: 0;

  border: none;
  background: none;
}

#mobile-drawer-toggle span {
  width: 20px;
  height: 4px;

  background: currentColor;

  border-radius: 999px;
}

#mobile-drawer-toggle.open .hamburger-line:first-child {
  transform: translateY(5px) rotate(45deg);
}

#mobile-drawer-toggle.open .hamburger-line:last-child {
  transform: translateY(-5px) rotate(-45deg);
}

/* ---------- DESKTOP VIEW ---------- */

@media (min-width: 768px) {

  .main-header h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .main-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: static;
    padding-bottom: 2rem;

    /* Limits width and centers header */
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }

  /* Hides hamburger button on desktop */
  #mobile-drawer-toggle {
    display: none;
  }

  /* Force search bar to drop to the next row completely */
  .search-bar {
    margin-top: var(--space-md);
  }
}
